.headline__h1{
  text-align: center;
  font-size: 46px;
  line-height: 50px;
  max-width: 970px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
