header.header
    //- img.bacground-img(src="images/header.jpeg", alt="изображение")
    .header_grid
        .header__menu
            include ../logo/logo.pug
            include ../phone/phone.pug
            include ../button-contact/button-contact.pug
        include ../headline/headline.pug
