<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="keywords" content="ковка, изделия из металла, металл, кузнец, кузница, кузня, мастерская")
        meta(name="description" content="Художественная ковка г. Санкт-Петербург: ковка по индивидуальным заказам, все виды работ с металлом.")
        title Художественная ковка
        link(rel="stylesheet" href="style.css")
        script(src="main.js")
    body
        .container
            .container_greed
                include ./modules/header/header.pug
                article
                    include ./modules/main-content/main-content.pug
                    include ./modules/aside/aside.pug
                    include ./modules/section/section.pug
                article
                include ./modules/footer/footer.pug