@import "vars.scss";
@import "../modules/header/header.scss";
@import "../modules/footer/footer.scss";
@import "../modules/aside/aside.scss";
@import "../modules/main-content/main-content.scss";
@import "../modules/section/section.scss";

.container {
  max-width: 100%;
  min-width: 320px;
  font-family: $main-fonts;
  font-size: 16px;
  position: relative;
}


.container_greed {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}