@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext");
@import "vars.scss";
@import "../modules/header/header.scss";

.container {
  max-width: 100%;
  min-width: 320px;
  font-family: $main-fonts;
  font-size: 16px;
  position: relative;
}
