@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext");

$main-fonts: "Roboto", sans-serif;

$light-color: rgb(255, 255, 255);
$design-color: rgb(255,165,0);
$dark-color: rgb(27, 27, 27);